html,
body {
  overflow-x: hidden; /* Mencegah scroll horizontal */
  margin: 0;
  padding: 0;
}

/* navbar */

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 30px;
  background: linear-gradient(90deg, #3b8aac 0%, #7bcdf0 100%);
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: white !important;
}

.navbar-brand:hover {
  color: white !important;
}

.navbar-nav .nav-link {
  color: white !important;
}

.navbar-nav .nav-link:hover {
  font-weight: bold;
  transition: 0.2s ease-in-out;
}

/* profile */

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  background:white
  height: auto;
  margin-top: 15vh;
  padding: 50px;
}

.container-profile {
  display: flex;
  justify-content: space-between; /* Memberikan jarak antar elemen */
  align-items: center; /* Agar elemen sejajar di tengah vertikal */
  width: 100%; /* Sesuaikan lebar kontainer */
  padding: 90px;
  padding-left: 10px;
  padding-right: 10px;
}

.col {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 50px;
}

.col .circle-profile {
  position: relative;
  width: 320px;
  height: 320px;
  flex-shrink: 0;
}

.circle-profile {
  width: 100%;
  border-radius: 80%;
  background: linear-gradient(90deg, #3b8aac 0%, #7bcdf0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.col p {
  color: #3b8aac;
}

.circle-profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .container-profile {
    flex-direction: column;
    text-align: center; /* Pusatkan teks */
  }

  .circle-profile img {
    max-width: 100%; /* Agar gambar responsif */
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .col p {
    padding: 1px;
  }
}

/* cv */

.cv {
  height: 100vh;
  background: linear-gradient(90deg, #3b8aac 0%, #7bcdf0 100%);
}

.container-cv {
  padding: 30px;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.title-cv {
  padding: 10px;
  margin: 10px;
}

.title-cv h1 {
  color: white;
}

.pdf-file {
  padding: 10px;
  margin: 10px;
}

/* project */
.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  gap: 30px; /* Spacing between cards */
  padding: 100px;
  height: auto;
}

.card {
  width: 18rem;
}

.card img {
  width: 286px;
  height: 162px;
}

@media (max-width: 768px) {
  .project {
    flex-direction: column; /* Stack cards vertically on small screens */
  }
}

/* contact */
.contact {
  height: 95vh;
  background: linear-gradient(90deg, #3b8aac 0%, #7bcdf0 100%);
}

.container-contact {
  display: flex;
  flex-direction: column; /* Susun elemen ke bawah */
  justify-content: center;
  align-items: center;
  height: 95vh;
  gap: 20px; /* Atur jarak antar elemen */
}

.whatsapp {
  display: flex;
  align-items: center; /* Agar ikon dan teks sejajar vertikal */
}

.whatsapp a {
  display: flex;
  align-items: center; /* Menjaga ikon dan teks tetap sejajar */
  text-decoration: none;
  gap: 10px;
}

.whatsapp .bi {
  font-size: 24px; /* Atur ukuran ikon */
  color: white;
}

.whatsapp p {
  color: white;
  margin: 0; /* Hilangkan margin default */
}

.email {
  display: flex;
  align-items: center;
}

.email a {
  display: flex;
  align-items: center; /* Menjaga ikon dan teks tetap sejajar */
  text-decoration: none;
  gap: 10px;
}

.email .bi {
  font-size: 24px; /* Atur ukuran ikon */
  color: white;
}

.email p {
  color: white;
  margin: 0; /* Hilangkan margin default */
}

.linkedin {
  display: flex;
  align-items: center;
}

.linkedin a {
  display: flex;
  align-items: center; /* Menjaga ikon dan teks tetap sejajar */
  text-decoration: none;
  gap: 10px;
}

.linkedin .bi {
  font-size: 24px; /* Atur ukuran ikon */
  color: white;
}

.linkedin p {
  color: white;
  margin: 0; /* Hilangkan margin default */
}

.footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 11px;
  background: linear-gradient(90deg, #3b8aac 0%, #7bcdf0 100%);
  color: white;
  font-size: 14px;
}
